{% block main %}

<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}\

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>

<script type="text/javascript">
var TranslationArr=[];
</script>

{% fetchxml TranslationRecord %}
<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>
  <entity name='dnlb_translation'>
    <attribute name='dnlb_translationid' />
    <attribute name='dnlb_name' />
    <attribute name='dnlb_translatedtext' />
    <attribute name='dnlb_entityname' />
    <attribute name='dnlb_englishtext' />
    <order attribute='dnlb_name' descending='false' />
    <filter type='and'>
      <condition attribute='statecode' operator='eq' value='0' />
      <condition attribute='dnlb_name' operator='eq' value='{{ website.selected_language.code }}' />
      <condition attribute='dnlb_entityname' operator='eq' value='crmdemo' />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}

{% for translation in TranslationRecord.results.entities %}
  <script type="text/javascript">
  TranslationArr['{{translation.dnlb_englishtext}}'] = '{{translation.dnlb_translatedtext}}';
  </script>
{% endfor %}

<script type="text/javascript">
$(document).ready(function(){
  TranslateText();
})


function TranslateText(){
$("#headingRegister").html("<b>"+TranslationArr["Register"]+"</b>");
$("#infoText").text(TranslationArr["Please fill in this form to create an account."]);
$("#emailText").html(TranslationArr["Email"]);
$("#email").attr('placeholder',TranslationArr["Email"]);
$("#passwordText").html(TranslationArr["Password"]);
$("#psw").attr('placeholder',TranslationArr["Password"]);
$("#password-repeat").html(TranslationArr["Repeat Password"]);
$("#psw-repeat").attr('placeholder',TranslationArr["Repeat Password"]);
$("#info-text-terms").html(TranslationArr["By creating an account you agree to our"]);
$("#btn-register").html(TranslationArr["Register"]);
$("#text-already-an-account").html(TranslationArr["Already have an account?"]);
}
</script>

<div class="container">
    <h1 id="headingRegister">Register</h1>
    <p id="infoText">Please fill in this form to create an account.</p>
    <hr>

    <label id="emailText"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label id="passwordText"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label id="password-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <p id="info-text-terms">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" id="btn-register" class="registerbtn">Register</button>
</div>

  <div class="container signin">
    <p id="text-already-an-account">Already have an account? <a href="#">Sign in</a>.</p>
  </div>
{% endblock %}